{% extends 'base.html.twig' %}

{% block tablehead %}
    <tr>
      <th scope="col">Nom Court</th>
      <th scope="col">Nom Long</th>
      <th scope="col">Lien</th>
    </tr>

{% endblock %}

{% block tablebody %}
    {% for formation in listeFormations %}
        <tr>
            <th scope="row">{{formation.nomCourt}}</th>
            <td>{{formation.nomLong}}</td>
            <td><a href="{{path('formation')}}/{{formation.id}}"><button type="button" class="btn btn-outline-primary">En savoir plus</button></td>
        </tr>
    {% endfor %}

{% endblock %}