<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>

        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}

        {% endblock %}
    </head>
    <body>
        <header>
            <img src="logo de Pro Stage" alt="logo de Pro Stage">
            <ul>
                <li><p>Rechercher par :</p></li>
                <li><a href="../stages">Stages</a></li>
                <li><a href="../formations">Formations</a></li>
                <li><a href="../entreprises">Entreprises</a></li>
            </ul>
        </header>

        {% block body %}
        {% endblock %}


    </body>
</html>
