{% extends 'base.html.twig' %}


{% block body %}
    {% block card %}
        <div class="row justify-content-center">
            <div class="col-md-12">
                {% block pageDetail %}
                    <div class="card">
                        <div class="card-header">
                            <h3>{% block titre %}{% endblock %}</h3>
                        </div>

                        <ul class="list-group list-group-flush">
                            {% block attribut %}
                            {% endblock %}
                        </ul>
                    </div>
                {% endblock %}
            </div>
        </div>
    {% endblock %}
{% endblock %}

      